.friends_wrapper {
    display: flex;

    color: indigo;
    flex-direction: column;
    align-items: center;
}

.friends_item  {
display: flex;
    justify-content: space-around;

}
.friends_item span {
    padding: 10px;
}
.friends {
    color: blue;
    margin-left: 10px;
    font-family: AngryBirds, sans-serif;
}