.dialogs {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.messages {
    color: lightcoral;
    padding: 30px;
}

.dialog {
    padding: 20px;
}
.dialogsItems {
    text-decoration: none;
    color: lightpink;
}
.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    padding-top: 20px;
    margin-right: 10px;
}
.active {
    color: gold;
}
.message_form  {
    padding: 10px;

}
.message_form_input {
    height: 20px;
}
.message_form_input .error {
    border: 3px solid red;
}