.dialogs {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.dialogs_item {
    text-decoration: none;
    padding: 20px;
}
.dialogs_item .active {
    color: #ead562;
}
.messages {

    padding: 10px;
}

.message {

}