.avatarItem,
.user_description
{
    width: 200px;
    height: 200px;
}
.avatarItem:hover {
    transition-duration:1s;
    transform: scale(1.2);
}

.user_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
