.toDoList_wrapper {
  display: grid;
  grid-template-rows: 150px auto;
justify-content: center;
}

.toDoListItems {
  display: grid;
grid-template-columns: 100px 50px auto;
  justify-content: space-between;
}
.toDoListItems_item {
  color:grey;
}
.checkboxStyle {
  appearance: auto;
  box-shadow:none;
}
.commentForm_wrapper {
  all:initial;
  appearance: auto;
  box-shadow:none;
  border: 1px solid grey;
  border-radius: 10%;
  margin: 5px;
  padding: 5px;
}
.important {
  color:red;
}
.del_button {
  margin-left: 10px;
  color: red;
  cursor:pointer;
}
.required {
  color: red;

}