.loginBlock {
    display: flex;
  align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.loginBlock_button button {
   margin-left: 10px;
    margin-top: 10px;
}
.loginBlock_loginText  {
    font-size: 15px;
    margin-top: 10px;
}