.header {
    grid-area: header;
    background: lightcoral;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.header_logo {
    height: 100%;
}
.loginBlock_button {
    margin: 0 10px 0 10px;
}
.header_logo {
    margin-left: 10px;
}