.loginBlock {
    display: flex;
    width: 25%;
    justify-content: space-between;
    align-items: center;
}
.loginBlock_button button {
    margin: 0;
    font-size: 10px;
    margin-right: 10px;
}
.loginBlock_loginText  {
    font-size: 15px;

}