.sidebar {
    grid-area: nav;
    background-color: lightpink;

}

.settings {
    margin-top: 100px;
    margin-bottom: 20px;
}

.menuItems {
    margin-left: 15px;
    margin-top: 15px;
    font-size: 20px;
    padding-top: 10px;


}

.item a {
text-decoration: none;
    color: white;

}
.item a.activeLink {
    color: gold;

}
.friends {
    color: blue;
    margin-left: 10px;
    font-family: AngryBirds;

}
.friends_item {
    color: red;
    text-align: justify;

    margin-left: -10px;
}
.friends_item span {
padding: 5px;
}