.profile {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
}

.profile_avatar img {
    max-width: 300px;
    max-height: 300px;
}

.profile_description {
    margin-left: 20px;
    padding: 10px;
}

.visually_hidden {
    width: 20px;
    height: 20px;
    border: 1px black;
    visibility: hidden;
}

.addImageButton {
    height: 20px;
    position: relative;
    bottom: 30px;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 50px;
    background-color: #70f1ec;
    box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
    cursor: pointer;
}

.wrapper_description {

}


.profile_description_form_input {
    all:initial;
    appearance: auto;
    box-shadow:none;
}