.profile {
    display: flex;
    flex-wrap: wrap;
}

.profile_avatar img {
max-width: 300px;
    max-height: 300px;
}

.profile_description {
    color: indigo;
    display: flex;
    flex-direction: column;
}
.profile_avatar_loadInput {
    position: absolute;
    width: 90px;
    margin-left: -300px;
    cursor: pointer;
    color: white;
}
.profile_description_list li {
    list-style-type: none;
}
.profile_data_form,
.profile_description_button {
margin-left: 10px;
}
.error {
    color: red;
}