.items_block_wrapper,
.parameters_items {
    display: grid;
    grid-template-columns: repeat(5,2fr) 1fr;
    grid-gap: 20px;
    padding: 10px 0;
}
.search_form_block {
    text-align: center;
    margin: 20px;
}
.artist_track_block {
    grid-column-start: 2;
    grid-column-end:4;
    font-size: 30px;
    padding: 10px 0;
}
.details_block_1,
.parameters_items_item {
    grid-column-start: 2;
}
.details_block_2 {
    grid-column-start: 4;
}
.music_item b {
    cursor: pointer;
    font-size: 30px;
}