.myPost_wrapper {
    display: flex;
    margin-left: 20px;
    justify-content:flex-start;
    align-items: center;
}
.myPost_message {
    margin-left: 10px;
}
.myPost_avatar img {
    width: 70px;
    height: 70px;
    border-radius: 50px;
}
.myPost_like {
    align-self:end;
    color: green;
}