.myPost_wrapper {
    display: flex;
    width: 100%;
    justify-content:space-around;
    align-items: center;

}
.myPost_message {
    margin-left: 10px;
}
.myPost_avatar img {
    width: 70px;
    height: 70px;
    border-radius: 50px;
}
.myPost_like {
    align-self:end;
    color: green;
}
.myPost_wrapper:nth-child(odd) {
    background-color:#c3def1;
}