.selectedPage {
    font-weight:bold ;
    color: darkred;
}
.users_number_page {
    display: flex;
    width: 50%;
    margin-left: 20%;
    justify-content: space-around;
    flex-wrap: wrap;
}
.users_number_page_button {
    background: lightcoral;
    color: indigo;
    padding: 5px;

}