$MainThemeBGColor: #89ccde;
$MainThemeFontColor: #000000;
$MainThemeBGContentColor: rgba(255, 255, 255, 0.93);
$MainThemeBUTTONColor: #c4b77b;

@mixin FlexPositionSettings {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin MainThemeFontSettings {
  color: #444444;
  font-family: "Krona One",sans-serif;
  font-size: 10px;
  text-decoration: none;
}

/*___________Header_______________*/

.header {
  grid-area: header;
  background: $MainThemeBGColor;
  @include FlexPositionSettings;
    @include MainThemeFontSettings;
}
.header_logo {
  height: 100%;
  margin-left: 10px;
}
.loginBlock_button {
  margin: 0 10px 0 10px;
}
.loginBlock_loginText {
  @include MainThemeFontSettings;
  margin-right: 20px;
}
.loginBlock_login {
  color: $MainThemeFontColor;
}
.statusContainer {
  display: flex;
  justify-content: flex-end;
  background-color: $MainThemeBGColor;
}
/*___________Sidebar_______________*/

.sidebar {
  grid-area: nav;
  @include FlexPositionSettings;
  justify-content: start;
  flex-direction: column;
  background-color: $MainThemeBGColor;
    padding:  10px 0;
}

.item a {
  font-family: "Krona One", sans-serif;
  font-size: 20px;
  text-decoration: none;
  color: white;

}
.item:hover {
  transition-duration:1s;
  transform: scale(1.2);
}

a.activeLink {
  color: #d9ea65;
}
.item a:hover {
  color: grey;
}
/*___________Content_______________*/

.content {
  grid-area: content;
  background-color: $MainThemeBGContentColor;

}

/*___________Footer_______________*/

.footer {
  grid-area: footer;
  background: $MainThemeBGColor;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
    flex-shrink: 1;
    align-items: center;
}

.footer_logo {
  width: 60px;
  height: 100%;
}

.footer_contacts a,
.footer_description,
.footer_license {
  @include MainThemeFontSettings;
}