.login_container {
    width: 100%;
    text-align: center;
}

.login_form {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid indigo;


}

.login_form_button,
.login_form_input {
    border: 1px solid indigo;
    color: indigo;
}